.*\~
**/platformhome.properties
**/resources/generated-.*web-spring.xml
/.gradle
versioninfo.properties
/hybris/.gradle$
/hybris/.gradle/**
/hybris-*\.zip
/hybris/temp
/hybris/data/**
/hybris/log/**
/licenses/**
/installer/**
/dist
**/.idea
**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
**/.settings/**
/velocity.log
**/rebel.xml
**/*testclasses.xml
*.eml
hybris-dependencies/*
*.class
*-testclasses.xml
*-webtestclasses.xml
.metadata/*
.sass-cache
hybris/bin/ext*/**
hybris/bin/platform/**
hybris/config/.externalToolBuilders
hybris/config/tcServer/**
hybris/config/tomcat/**
hybris/config/licence/**
test-reports/*
*.sublime-*
hybrisdeps/*
.DS_Store
buildSrc/.gradle/**
buildSrc/build/*
output.txt
hybris/hybris/data/*
.lastupdate
*platformhome.properties
lib/**
*.iml
ruleset.xml

**/.classpath
**/.pmd
**/.project
**/.springBeans
velocity.log

hybris/bin/**/gensrc
hybris/bin/**/eclipsebin
hybris/bin/custom/**/classes/**
hybris/bin/custom/**/hmc/classes/**
hybris/bin/custom/**/build.xml
hybris/bin/custom/**/testclasses/**/*.class
hybris/bin/custom/ave/avecore/src/ru/ave/core/jalo/**
hybris/bin/custom/ave/avecore/src/de/*

hybris/bin/custom/ave/avestorefront/node_modules
hybris/bin/custom/**/web/commonwebsrc
hybris/bin/custom/**/web/addonsrc
hybris/bin/custom/**/web/webroot/_ui/addons/**
hybris/bin/custom/**/web/webroot/cscockpit/*
hybris/bin/custom/**/web/webroot/cmscockpit/*
hybris/bin/custom/**/web/webroot/productcockpit/*
hybris/bin/custom/**/web/webroot/cockpit/*
hybris/bin/custom/**/web/webroot/WEB-INF/messages/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/tags/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/views/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/tld/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/_ui-src/addons/**


**/theme-alpha
**/theme-lambda
internationalizationhmc.jar
internationalizationbackoffice_bof.jar

!environment/**/customize/**/*.class

hybris/bin/custom/pentland/pentlandfacades/lib/
hybris/bin/custom/pentland/pentlandstorefront/resources/wro_addons.xml
hybris/bin/custom/pentland/pentlandstorefront/web/webroot/WEB-INF/_ui-src/responsive/config/**

