//
// Load core variables
// --------------------------------------------------
@import "../../../lib/ybase-0.1.0/less/ybase.less";
@import "../../../lib/ybase-0.1.0/less/addons.less";
@import "variables.less";
.modal-body {
  text-align: center;
  padding-bottom: 0;

  iframe {
    width: 100%;
  }
}

.has-error {
  .input-group-addon{
    color: @input-error;
    border-color: @input-error;
  }
}

.long-scrollable {
  max-height: 700px;
  overflow-y: scroll;
}

.cookie-disclaimer {
  background: @cookie-reminder-bg;
  color: @cookie-reminder-color;
  opacity: 0.8;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  padding: 30px 0;
}

.cookie-disclaimer .cookie-close {
  font-size: @font-size-large-2;
  float: right;
  cursor: pointer;
}

.padding-top-10 {
  padding-top: 10px;
}

.cart__head--link {
  margin-right: 15px;
}

.footer__top .footer__nav--container .footer__nav--links li.footer__link {
  padding-left: 25%;
  padding-right: 15%;
}
 
 .save__cart--link, .cart__quotes--link {
    margin-left: 165px;
  }
  
 .alert-danger {
  background-color: #F54544;
  border-color: #faebcc;
  color: #fff;
}

.modal-dialog {
    width: 400px;
    margin: 30px auto;
}

.responsive-table th:last-child {
    text-align: center;
    padding-right: 10px;
}
.responsive-table-item td:last-child {
    text-align: center;
    padding-right: 10px;
}