//
// Load core variables
// --------------------------------------------------
@import "../../../lib/ybase-0.1.0/less/ybase.less";
@import "../../../lib/ybase-0.1.0/less/addons.less";
@import "variables.less";

.long-scrollable {
  max-height: 700px;
  overflow-y: scroll;
}

.cookie-disclaimer {
  background: @cookie-reminder-bg;
  color: @cookie-reminder-color;
  opacity: 0.8;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  padding: 30px 0;
}

.cookie-disclaimer .cookie-close {
  float: right;
  cursor: pointer;
}

.padding-top-10 {
  padding-top: 10px;
}