//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

//********* Theme colors *********
@dark-gray: #555555;

//********* Brand colors *********

//== Default
@brand-primary: 	#0068b3;
@brand-secondary: 	#929292;

//== Primary
@brand-primary-white: #ffffff;

@brand-primary-gray: #999999;
@brand-primary-light-gray: #cccccc;
@brand-primary-warm-gray: #f1edea;

@brand-primary-pantone-green: #003a56;
@brand-primary-pantone-dark-green: #10252c;
@brand-primary-pantone-blue: #00b5d6;

//********* Typography *********
@brand-font-family-helvetica-sans-serif:  Helvetica, Arial, sans-serif;
@brand-font-family-arial-sans-serif:  Arial, Helvetica, sans-serif;
@brand-font-family-georgia-serif: 'Georgia', "Times New Roman", Times, serif;

@font-family-base: @brand-font-family-helvetica-sans-serif;

@headings-font-family: @brand-font-family-georgia-serif;
@headings-font-weight: 300;
@headings-letter-spacing: -0.25px;

@headings-margin-top: 0;
@headings-margin-bottom: 0;

//== Colors
@text-color:			@brand-primary-pantone-green;
@text-color-secondary:	@brand-secondary;

@link-color: @brand-primary-pantone-blue;
@link-color-hover: @dark-gray;

@headline-color:		@text-color;

@product-price-color: @brand-primary-pantone-blue;

//== Colors carousel
@carousel-arrow-color: @brand-primary-light-gray;
@carousel-dots-active-color: @brand-primary-pantone-blue;

//== Borders
@border-color: 			@brand-primary-light-gray;
@border-color-2:		#e5e5e5;
@border-color-3:		#cccccc;

//********* Form colors *********
@label-color: 			@brand-secondary;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	@brand-secondary;
//** Border color for inputs on focus
@input-border-focus:    @brand-primary;
//** Border color for inputs on error
@input-error:    #fd7b7b;
//** Background color for inputs on error
@input-error-bg:        #fec3c3;
//** color for error text
@input-error-text:        #ED1C24;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;

//********* Header background *********
@header-background-color: 	#f4f4f4;
@nav-border-color: 			@border-color;

//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @brand-primary;
@meta-nav-color-open: @brand-primary-white;
@meta-nav-hover-color: @brand-secondary;
@meta-nav-border-color: #265272;
@meta-nav-background: #003459;
@meta-nav-hover-background: #004678;

//*********Search*********
@searchbar-icon-color: @text-color;
@check-box-bg: @brand-primary-white;

//********* icon navigation colors*********
@nav-icon-color: @brand-primary;
@nav-icon-color-secondary: @btn-primary-bg;
@nav-icon-hover-background: @border-color-2;

//********* Header navigation-categories *********

//== Typography
@nav-cat-font-family: @brand-font-family-georgia-serif;

// Colors
@nav-cat-background: @brand-primary-pantone-dark-green;
@nav-cat-hover-background: #1e3d55;
@nav-cat-link-color: @brand-primary-white;
@nav-cat-link-hover-color: @brand-primary-pantone-blue;
@nav-cat-link-active-color: @nav-cat-link-hover-color;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: @brand-primary-pantone-dark-green;
@nav-subcat-background: @brand-primary-warm-gray;
@nav-subcat-border-color: @border-color-2;
@nav-subcat-hover-background: @border-color-2;

//********* Offcanvas navigation colors *********
@offcanvas-nav-header-color: @brand-primary;
@offcanvas-nav-header-background: @brand-primary-white;
@offcanvas-nav-disabled: @brand-secondary;
@offcanvas-meta-nav-color: @brand-primary-white;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: #03426f;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @brand-primary;
@offcanvas-nav-cat-title-color: @brand-primary-pantone-dark-green;
@offcanvas-nav-cat-background: @brand-primary-white;
@offcanvas-nav-cat-border-color: @border-color-2;
@offcanvas-nav-cat-hover-color: @brand-primary-pantone-blue;

//*********Breadcrumbs colors*********
@breadcrumb-bg: @border-color;

//********* Slogan *********

//== Colors
@slogan-text-color: @brand-primary-gray;

//********* Footer *********

//== Typography
@footer-font-family: @brand-font-family-arial-sans-serif;

//== Colors
@footer-background: @nav-cat-background;
@footer-text-color: @brand-primary-white;
@footer-link-color: @brand-primary-white;
@footer-link-hover: @brand-primary-pantone-blue;
@footer-border-color: @nav-cat-hover-background;
@copyright-background: @brand-primary-white;
@copyright-color: @brand-primary-gray;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-primary, 60%);//#e6f0fa;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00A651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @brand-secondary;

//== Tables
@table-2n-line-bg:				#f4f4f4;
@table-head-bg:					@nav-cat-background;
@table-head-color:				#7f919e;
@table-head-border-color:		#334b5c;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:				@table-expand-bg;

//== List
@list-active-bg:                #e6f0fb;

//== Pagination
@pagination-active-color: 		#a6a6a6;
@pagination-font-weight: 		600;

@pagination-disabled-color:     @pagination-active-color;
@pagination-hover-color:		@pagination-active-color;

@pagination-prev-next-hover-bg:		@btn-primary-bg;
@pagination-prev-next-hover-color:	@btn-primary-color;

//*********Button Colors*********

//Primary Button State
@btn-primary-color: @brand-primary-white;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;
@btn-primary-hover-color: @brand-primary;
@btn-primary-hover-border: @brand-primary;
@btn-primary-hover-background: @brand-primary-white;
@btn-primary-disabled-bg: #8cbbdd;

//Secondary Button State
@btn-default-color: @brand-primary-white;
@btn-default-bg: @brand-secondary;
@btn-default-border: @brand-secondary;
@btn-default-hover-color: @brand-secondary;
@btn-default-hover-border: @brand-secondary;
@btn-default-hover-background: @brand-primary-white;
@btn-default-disabled-bg: @border-color-3;

//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Modal Colors*********
@modal-close-btn-color: @brand-secondary;

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;

//*********checkout*********
@steps-color: @text-color;
@steps-background: @header-background-color;
@steps-color-active: @steps-color;
@steps-background-active: #e4e4e4;
@steps-border-active: @border-color-3;
@checkout-icon: @border-color-3;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: @brand-primary-white;
@checkout-list-head-border: @table-head-bg;

//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;